.RecipeSearch {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.RecipeSearch-buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.RecipeSearch-results {
  display: flex;
  justify-content: center;
}

.WeekPlanning {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.WeekPlanning table {
  border: 2px solid black;
}
